html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Brondi Condensed';
    src: url('fonts/Brondi-Condensed-Regular.woff2') format('woff2'),
         url('fonts/Brondi-Condensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }



body{
    background-color: #f5f5f5;
}

 



/* Hero Section */

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30vh;
    align-items: center;
    text-align: center;
}

.hero::before {
    content: '';
    background-image: url(../img/barraGlops.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    z-index: -1;
}

.hero__logo {
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 10;
}

.hero__logo-img {
    max-height: 60px;
    width: auto;
}

/* Menú Hamburguesa */
.hero__menu-toggle {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    background: transparent;
    border: none;
    padding: 10px;
}

.hero__menu-toggle-bar {
    display: block;
    width: 33px;
    height: 5px;
    background: black;
    margin: 5px 0;
    transition: all 0.3s ease;
}

/* Menú Desplegable */
.hero__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    padding: 80px 20px;
    transition: right 0.3s ease;
    z-index: 999;
    opacity: 0.8;
    font-family: 'Brondi Condensed', sans-serif;
}

.hero__nav--active {
    right: 0 !important;
    
}

.hero__nav-list {
    list-style: none;
}


.hero__nav-item {
    margin: 25px 0;

}

.hero__nav-link {
    
    color: white;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
    font-size: 30px;
}
.hero__nav-link:hover{
    text-decoration: underline;
}


.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero__title {
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 3.2rem;
    letter-spacing: 3px;
    font-weight: 400;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */ 
    position: relative;
    display: block;
    margin-bottom: 5px; /* Añade este margen específico de 15px */
    margin-top: 0;
}

.hero__btn {
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background: black;
    
    color: white;
    padding: 3px 30px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    position: relative;
    margin-top: 0;
}
.hero__btn:hover {
    background: #f5f5f5; 
    color: black;
    border: 1px solid black;
}


@media (min-width: 768px) {
    .hero__nav {
        width: 30%; /* Reducción del ancho en pantallas grandes */
        right: -30%; /* Ajustado para coincidir con el nuevo ancho */
    }
    
    .hero__nav-link {
        font-size: 2rem; /* Fuente ligeramente más pequeña en pantallas grandes */
    }
    
    .hero__nav--active {
        right: 0;
    }
    .hero__title {
        font-size: 4rem;
    }
    
    .hero__btn {
        font-size: 1.8rem;
        padding: 5px 60px;
    }
}

@media (min-width: 1024px) {
    .hero__nav {
        width: 25%; /* Aún más estrecho en pantallas muy grandes */
        right: -25%; /* Ajustado para coincidir */
    }
    
    .hero__menu-toggle {
        top: 40px; /* Un poco más abajo en pantallas grandes */
        right: 40px; /* Más alejado del borde */
    }
}






/* About Section */
.about {
    background-color: #f5f5f5;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about__content{
    padding: 10px 25px 5px;
    
}

.about__title {
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 2.9rem;
    margin-left: 25px;
    margin-bottom: 5px;
    color: black;
    text-align: start;
    
}

.about__text {
    max-width: 800px;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-align:start;
}


/* Carrusel */

.carousel {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    max-width: none;
    overflow: hidden;
   
}

.carousel__container {
    display: flex;
    transition: transform 0.5s ease;
    height: auto;
    
}

.carousel__item {
    width: 100vw; 
    height: auto; 
    max-height: 650px; 
    object-fit: cover; 
    flex-shrink: 0; 
    object-position: center;
}

.carousel__indicators {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel__indicator {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel__indicator.active {
    background-color: #E2A300;
}





/* About2 section */ 
.about2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.about2__content{
    padding: 20px;
}

.about2__title {
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 2.9rem;
    margin-bottom: 20px;
    color: black;
}

.about2__text {
    max-width: 800px;
    line-height: 1.6;
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-align: start;
}

.about2__photos {
    display: grid;
    grid-template-areas: 
        "foto1 foto1"
        "foto2 foto3";
    gap: 10px; 
    margin-top: 30px;
}


.foto1 {
    grid-area: foto1;
    width: 100%; 
    height: 290px; 
    overflow: hidden; 
    position: relative; 
    border: 2px solid #E2A300;
}


.foto2, .foto3 {
    height: 220px;
    overflow: hidden;
    position: relative;
    border: 2px solid #E2A300;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

/* Estilo para todas las imágenes */
.foto__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center; 
    display: block;
}

/* Ajustes para pantallas más grandes */
@media (min-width: 768px) {
    .foto1 {
        height: 380px;
    }
    
    .foto2, .foto3 {
        height: 320px;
    }
}

@media (min-width: 1024px) {
    .foto1 {
        height: 420px;
    }
    
    .foto2, .foto3 {
        height: 360px;
    }
}






/* Reservas section */ 

.reservas {
    position: relative; 
    height: auto; 
    min-height: 100vh;
    display: flex;
    align-items: flex-start; 
    padding-top: 10px; 
    z-index: 2;
}

.contenedor__reservas {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    max-width: 1200px;
}

.logo__reservas {
    margin-bottom: 20px;
    
}

.logo__reservas img {
    width: 140px;
    height: 140px;
}


.boton__reservas {
    
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 2.3rem;
    
}

.boton__reservas_a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}


.contacto__reservas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; 
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}
.titulo__direccion, 
.titulo__telefono,
.titulo__insta {
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 2.7rem;
    text-align: left; 
    width: 100%;
    letter-spacing: 0.5px; 
    text-transform: uppercase;
    margin-bottom: 5px; 
    margin-top: 15px; 
}



.logo__insta img{
    width: 60px;
    height: 60px;
    margin: 10px;
    
}


.direccion {
    color: black;
    text-decoration: none;
    font-family: 'Brondi Condensed', sans-serif; 
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 0;
    
}
.direccion-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.direccion-link:hover {
    text-decoration: underline;
    color: #333;
}

.telefono{
    color: black;
    text-decoration: none;
    font-family: 'Brondi Condensed', sans-serif; 
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 0;
    text-decoration: underline #E2A300;
}


.mapa-interactivo{
    margin-top: 30px;
    width: 100%;
    height: 400px;
}



.mapa-interactivo iframe {
    width: 100%;
    height: 400px; /* Aumentado altura */
}











/* Página cover manager */

.reservas-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.titulo__reserva {
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 2rem;
    margin-left: 30px;
    margin-top: 50px;
}

.covermanager-widget {
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
}
.covermanager-widget iframe {
    min-height: 700px; /* Altura mínima para asegurar que el calendario se vea completo */
    width: 100%;
}

.contacto-alternativo {
    margin-top: 20px;
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 1.5rem;
    color: #555;
}

/* Selector de idioma */
.language-toggle {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.lang-btn {
    background: #f0f0f0;
    border: none;
    padding: 8px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Brondi Condensed', sans-serif;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.lang-btn.active {
    background: #E2A300;
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .covermanager-widget iframe {
        height: 750px !important; /* Aumentado un poco para asegurar que todo se vea */
    }
    
    .titulo__reserva {
        font-size: 2rem;
        padding-top: 10px;
    }
}

@media (min-width: 768px) {
    .header_carta {
        padding-top: 100px; /* Más espacio en pantallas grandes */
    }
    
    .titulo__reserva {
        font-size: 3rem;
    }
    
    .covermanager-widget iframe {
        min-height: 650px; /* Ajustado para pantallas grandes */
    }
}






/* Página Carta */

.header__carta {
    margin-bottom: 100px;
}

.titulo_carta{
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
margin-bottom: 80px;
}

.acordeon-carta {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Brondi Condensed', sans-serif;
    padding: 40px 20px;
    margin-bottom: 100px;
}

.acordeon-titulo {
    background-color: black;
    color: white;
    font-size: 2.3rem;
    font-family: 'Brondi Condensed', sans-serif;
    text-transform: uppercase;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    letter-spacing: 3px;
    padding: 15px 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acordeon-logo {
    height: 50px;
    width: auto;
    max-width: 50px;
    position: absolute;
    z-index: 5;
}


.acordeon-titulo:first-of-type .acordeon-logo {
    right: 30px; 
}

.acordeon-titulo:nth-of-type(2) .acordeon-logo {
    left: 15px; 
}




.acordeon-titulo::after {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    transition: transform 0.3s ease;
}

.acordeon-titulo.activo::after {
    content: '-';
    transform: translateY(-50%);
}


.acordeon-contenido {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
}

/* Cuando está activo */
.acordeon-contenido.activo {
    max-height: 2250px;
    padding: 20px 10px; /* Reducido el padding horizontal de 20px a 10px */
}

/* Estilos para la lista simple (GLOPS) */
.acordeon-contenido > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.acordeon-contenido > ul > li {
    font-size: 1.6rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acordeon-contenido > ul > li:last-child {
    border-bottom: none;
}

/* Estilos para el menú de dos columnas - ahora también en móvil */


.section_coctel{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    
}
.coctel-nombre {
    flex: 1;
    padding-right: 3px;
}

.coctel-precio {
    margin-left: 10px;
    white-space: nowrap;
}
.coctel-descripcion {
    font-size: 0.8rem;
    color: #444;
    line-height: 1.3;
    margin: 0 0 8px 0;
  }
.menu-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0; 
}

.menu-column {
    width: 49%;
    padding: 0; 
    
}

.menu-section {
    margin-bottom: 25px;
}

.section-title {
    font-size: 1.3rem;
    letter-spacing: 0.5px; 
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
}

.nombre__llandes{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 10px 0 5px 0;
    padding: 3px 0;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    font-size: 0.9rem;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
    display: flex; /* Asegúrate de que sea flex */
    justify-content: space-between; /* Envía el precio al extremo derecho */
    align-items: center;
}

.menu-items li:last-child {
    border-bottom: none;
}

.price {
    font-size: 0.9rem;
    margin-left: 10px; /* Añade espacio entre el nombre y el precio */
    white-space: nowrap;
}


@media (min-width: 768px) {
    /* Estilos del acordeón */
    .acordeon-contenido.activo {
        padding: 20px 15px;
    }
    
    .acordeon-titulo {
        font-size: 3rem;
        letter-spacing: 5px;
        padding: 15px 10px;
    }
    
    .acordeon-logo {
        height: 70px;
        max-width: 70px;
    }
    
    .acordeon-titulo:first-of-type .acordeon-logo {
        right: 180px;
    }
    
    .acordeon-titulo:nth-of-type(2) .acordeon-logo {
        left: 150px;
    }
    
    /* Estilos del menú */
    .menu-column {
        width: 48%;
    }
    
    .section-title {
        font-size: 2rem;
        margin-bottom: 15px;
    }
    
    .section_coctel {
        font-size: 1.8rem;
    }
    
    .coctel-descripcion {
        font-size: 0.9rem;
    }
    
    .menu-items li {
        font-size: 1.6rem;  /* Mantener el tamaño más grande para mejor legibilidad */
        padding: 8px 0;
    }
    
    .price {
        font-size: 1.6rem;  /* Mantener el tamaño más grande para mejor legibilidad */
    }
    
    .nombre__llandes {
        font-size: 1.4rem;
    }
}

@media (min-width: 1024px) {
    .acordeon-titulo:first-of-type .acordeon-logo {
        right: 200px;
    }
    
    .acordeon-titulo:nth-of-type(2) .acordeon-logo {
        left: 180px;
    }
}


.footer {
    background-color: #000000;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-family: 'Brondi Condensed', sans-serif;
    margin-top: 30px;
}

.footer__copyright {
    font-size: 0.9rem;
    margin: 0 0 5px 0;
}

.footer__credits {
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.8;
    color: #E2A300;
}